.wavesurfer-ui-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wavesurfer-ui-toolbar button {
    display: inline-block;
    text-align: center;
    padding: .65rem 1rem;
    outline: none;
    border: 1px solid transparent;
}

.wavesurfer-ui-toolbar-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wavesurfer-ui-toolbar-right-container span {
    margin-right: 1rem;
}